

/* .ci-grid::before {
content: "\f195";
} */

.ci-alert-triangle:before {
    content: "\f106";
    font-family: cartzilla-icons !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400 !important;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}